<!-- Structure de la page -->
<section
  data-testid="about"
  id="about"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
  <div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
    <h2 class="font-monospace text-2xl text-orange lg:text-4xl">Qui suis je ?</h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
  </div>

  <div class="w-full text-justify text-black dark:text-white lg:w-1/2">
    <p>
      Salut ! Je suis <span class="text-orange">Fabien</span>, un passionné de tech basé en <span class="text-orange">Île-de-France</span>. Après <span class="text-orange">huit ans d'expérience dans le retail</span>, j'ai décidé de troquer mes chaussures de ville pour devenir <span class="text-orange">un Web Developer Fullstack</span>. Ma transition s'est concrétisée après une formation intensive de 400 heures chez Ironhack, où j'ai obtenu la certification <span class="text-orange">Développeur Web de niveau 6 RNCP</span>.<br><br>

      Outre mon background dans le retail, j'ai acquis des compétences en communication, en relations client, et en compréhension des besoins. Ma passion précoce pour la technologie m'a conduit à maîtriser les technologies <span class="text-orange">MERN, incluant Node, MongoDB, React, JavaScript (ES6), Mongoose, HTML, et CSS</span>. J'ai concrétisé ces compétences à travers des projets variés, tels qu'un <span class="text-orange">jeu inspiré du "Simon Says"</span> avec une intelligence artificielle adverse, <span class="text-orange">une application Web CRUD</span>, et <span class="text-orange">une application web fullstack</span>.<br><br>

      À noter, ma patience est aussi solide que ma soif de challenges. Rien ne m'arrête quand il s'agit de résoudre les problèmes. Certifié et affûté, je suis prêt à participer à vos projets avec mes compétences techniques en mettant particulièrement en avant mes compétences pour le Front-end, mon énergie positive, et ma passion pour l'innovation. Je suis prêt à rejoindre votre équipe et à collaborer pour créer quelque chose d'épique !
    </p>
  </div>
</section>

